{{ define "meta/additional/enumAll" }}
{{ range $f := $.EnumFields }}
    {{ $enum := trimPackage $f.Type.String $.Package }}

    // {{ $enum }}All returns all values of {{ $enum }} enum
    func {{ $enum }}All() []{{ $enum }} {
            return []{{ $enum }}{
                {{- range $_, $e := $f.Enums}}
                    {{ $f.EnumName $e }},
                {{- end}}
            }
    }
{{ end }}                
{{ end }}